# New Section

# Assignment

In [ ]:
w=input("Enter your weight")
type(w)
w=float(w)
c=input("Enter your preffered Unit of height F-feet M-meter")
if c=='F':
  print("Enter your height in feet and inches:")
  h1=input("Enter feet: ")
  h2=input("Enter inches:")
else :
  h3=input("Enter your height in meters:")
  h3=float(h3)

if c=='F':
  h1=int(h1)
  h2=int(h2)
  h3=h1*0.3048+h2*0.0254

bmi=w/(h3*h3);
bmi=str(bmi)
print("BMI : "+bmi)
bmi=float(bmi)
if bmi<18.5:
  print("Under Weight")
elif bmi>=18.5 and bmi<25:
  print("Normal")
elif bmi>=25 and bmi<30:
  print("Over Weight")
elif bmi>=30:
  print("Very Over Weight")


# Competitive programming

In [ ]:
import sympy as sp

In [ ]:
n=input()

In [ ]:
n=int(n)

In [ ]:
for i in range (n+1):
  if sp.isprime(i):
    print(i)
    print(" ")

## Workout

# List

In [ ]:
for i in range(5,10,2):
  print(i)

In [ ]:
lists=[]

In [ ]:
for i in range(5):
  x=input()
  x=int(x)
  lists.append(x)

In [ ]:
lists

In [ ]:
for data in lists:
  print(data)

In [ ]:
a=list(range(5))

In [ ]:
a

In [ ]:
b=list(map(lambda x: x**2 ,a))

In [ ]:
b

In [ ]:
print(list(filter(lambda x:x%2==0,b)))

In [ ]:
lists=[0,1,2,3,4,5]
import time as t
x=t.time()
lists=map( lambda i:i**2 ,lists)
y=t.time()
print("Eleapsed time: ",y-x)

#Tuples

In [ ]:
tuples=()

In [ ]:
type(tuples)

In [ ]:
tuples=input()

In [ ]:
for i in range (9):
  print(i, tuples[i])

In [ ]:
for data in tuples:
  print(data)

In [ ]:
lists=(0,1,2,3,4,5)
import time as t
x=t.time()
lists=map( lambda i:i**2 ,lists)
y=t.time()
print("Eleapsed time: ",y-x)

#Set

In [ ]:
sets=set()

In [ ]:
type(sets)

In [ ]:
for i in range(5):
  sets.add(i)
for i in range(5):
  sets.add(i+1)
#Example of set only as unique elements


sets

In [ ]:
import time as t

In [ ]:
x=t.time()
sets=map( lambda i:i**2 ,sets)
y=t.time()
print("Eleapsed time: ",y-x)

# Dictionary

In [ ]:
dicto={}

In [ ]:
type(dicto)

In [ ]:
for i in range(5):
  dicto[i]=int(input("Enter number"))

In [ ]:
dicto

In [ ]:
dicto[0]

In [ ]:
dicto[2]

In [ ]:
print(dicto.keys())
print(dicto.values())

In [ ]:
for key in dicto.keys():
  print(key ,":", dicto[key])

# Packages

## Math

In [ ]:
import math as m

In [ ]:
m.sqrt(36)

In [ ]:
m.pow(2.7,10)

In [ ]:
#https://docs.python.org/3/library/math.html
# Link for maths package functions

In [ ]:
for i in range(10):
  print(i ,m.factorial(i))
#Note: Math functions from packages are even more faster

## Own Package

In [ ]:
#Create your own header files
!echo 'def function(x):'>samplefile.py
!echo '  print("the number is: ",x)'>>samplefile.py
#!echo is used to write inside any oher file or program

In [ ]:
#samplefile has become a package and it can be imported and use

import samplefile as s
s.function(5)

In [ ]:
from samplefile import function 
function(10)

## Numpy

# Packages Workout

## Pendulum

# File Handling

In [ ]:
!cat samplefile.py
#!cat is used to open any file in the directory

In [ ]:
with open('first_file.txt','w') as f:
  f.write(" Hello world inside text file.")

In [ ]:
!ls
#!ls shows the list of file in the directory

In [ ]:
!cat first_file.txt

In [ ]:
file=open('first_file.txt','r')

In [ ]:
s=file.readline()
s.split()
#here s is considered as list

In [ ]:
file.close()

# Class

In [ ]:
class student:
  """"This is a simple classs"""
  def __init__(self, rno,name):
    self.name=name
    self.rno=rno

In [ ]:
st1=student(59,"Sham")

In [ ]:
type(st1)

In [ ]:
print(st1.name,st1.rno)

In [ ]:
print("Hello")

# Numpy

In [ ]:
import numpy as np
y=np.array([1,2,3])
print(y)

In [ ]:
y.shape

In [ ]:
type(y)

In [ ]:
#To create array of zeros
x=np.zeros((4,5))

In [ ]:
print(x)

In [ ]:
# To create an identitiy matrrix where diagonal is 1.
# Note : only one paranthesis.
y = np.eye(3,3)

In [ ]:
print(y)

In [ ]:
z= np.random.random((4,4))

In [ ]:
print(z)

In [ ]:
#Note : All operations can be done with numpy arrays like add,sub,mult;
y=y+2

In [ ]:
print(y)

In [ ]:
#Taking two vectors and doing scalar and vector multiplication
u=[1,2,3]
v=[-1,0,1]

ip=np.inner(u,v)
op=np.outer(u,v)

print(ip)
print(op)

In [ ]:
# ones create  a array of ones
p=np.ones((3,3))
q=np.sum(p)
print(p)
print(q)

In [ ]:
p[1,1]=6
p.max()

# Plotting

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
x=np.random.random((10,1))
print(x)

In [ ]:
# You can plot with star and also with line
plt.plot(x,'*-')
plt.show()

In [ ]:
#Plotting square rootfunction

x=np.linspace(0,10,100)
y=np.power(x,0.5)

plt.plot(x,y,'*-')
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
sns.set()

In [ ]:
sns.lineplot(x,y)
plt.show()

# Pandas

In [ ]:
import pandas as pd

In [ ]:
s=pd.Series([0,1,1,1,2,2,2,3,4,5])
print(s)

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
for i in s.values:
  print(i)

In [ ]:
for item in zip(s.index,s.values):
  print(item)

In [ ]:
sham = pd.Series([52,170], index=['Weight','Height'])

In [ ]:
sham

In [ ]:
sham['Weight']

In [ ]:
sham.Weight

In [ ]:
import numpy as np

In [ ]:
arr= np.random.randint(0,10,5)
arr

In [ ]:
ind=np.arange(1,6)

In [ ]:
ind

In [ ]:
rand_series=pd.Series(arr,index=ind)
rand_series

In [ ]:
d={}
d['mass']=0.33
d['diameter']=57.66
d['daylength']=76.23

In [ ]:
print(d)

In [ ]:
mars=pd.Series(d)
print(mars)

In [ ]:
#if we want a specific index from the dictionaty then index can be used.
mars=pd.Series(d,index=['mass','daylength'])

In [ ]:
print(mars)

In [ ]:
 p=pd.Series([1,3,5,7,9],index=[1,2,3,4,5])

In [ ]:
p.loc[4]

In [ ]:
p.iloc[4]

In [ ]:
p.iloc[-1]

In [ ]:
p.iloc[0:3]

In [ ]:
p.loc[1:3]

In [ ]:
mass=pd.Series([1,2,3,4,5,6,7,8],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])

In [ ]:
mass>5

In [ ]:
mass[mass>5]

In [ ]:
mass[(mass>3) & (mass<7)]

In [ ]:
mass*2

In [ ]:
mass/10

In [ ]:
import numpy as np

In [ ]:
#This shows that pandas is over numpy
np.mean(mass)

In [ ]:
np.amin(mass)

In [ ]:
np.amax(mass)

In [ ]:
mass + mass

In [ ]:
big_mass=mass[mass>5]

In [ ]:
new_mass=mass+big_mass

In [ ]:
print(new_mass)

In [ ]:
#Show the data which are not nan
new_mass[-pd.isnull(new_mass)]

In [ ]:
mass['moon']=0.5

In [ ]:
mass

In [ ]:
mass.drop(['venus'])

In [ ]:
diameter=pd.Series([8,7,6,5,4,3,2,1],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])
m1=pd.Series([1,2,3,4,5,6,7,8],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])

In [ ]:
m1=pd.Series([1,2,3,4,5,6,7,8],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])

In [ ]:
density=m1/((4/3)*3.14*(diameter*diameter*diameter))

In [ ]:
print(density)

In [ ]:
m1['moon']=5.6

In [ ]:
density=m1/((4/3)*3.14*(diameter*diameter*diameter))
print(density)

In [ ]:
print(np.mean(density))
#To fill the null values with mean value
density[pd.isnull(density)]=np.mean(density)

In [ ]:
density

# Nifty case study

In [ ]:
import pandas as pd

In [ ]:
nifty = pd.read_csv('nifty.csv',index_col=0).iloc[:,0]

In [ ]:
nifty

In [ ]:
nifty.head(20)

In [ ]:
nifty.tail(20)

In [ ]:
import numpy as np
np.mean(nifty)

In [ ]:
np.median(nifty)

In [ ]:
#positive increase
count=0
for i in range(1,245):
  if nifty[i]>nifty[i-1]:
    print(nifty.index[i])
    count+=1

In [ ]:
print(count/245)

In [ ]:
(np.sum((nifty.values[1:]-nifty.values[:-1])>0)/len(nifty))*100

In [ ]:
np.sum((nifty.values[-5:-2]-nifty.values[-4:-1]))/5

In [ ]:
d=pd.Timestamp(nifty.index[4])

In [ ]:
d.dayofweek

In [ ]:
new_index=map(pd.Timestamp,nifty.index)

In [ ]:
new_nifty=pd.Series(nifty,index=new_index)

In [ ]:
#printing the ending value of friday
new_nifty[new_nifty.index.dayofweek == 4]

In [ ]:
new_nifty.rolling('5d').mean()

In [ ]:
data = [0,1,1,2,3,5,8,13,21]
s=pd.Series(data)
b=s.diff()
print(b.iloc[5])

In [ ]:

s=pd.Series("a",index=[1,2,3,4])
print(s.loc[2])

In [ ]:
s.iloc[2]

# Pandas (Frame work)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = np.random.randint(0,10,(5,3))

In [ ]:
arr

In [ ]:
df = pd.DataFrame(arr)

In [ ]:
df

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.index=['A','B','C','D','E']
df.columns=['a1','b1','c1']

In [ ]:
df

In [ ]:
df.loc['B','b1']

In [ ]:
df.iloc[2:4,0:2]

In [ ]:
#it printsthe0 series.
#Therefore dataframe is a collection of series
df.iloc[0]

In [ ]:
type(df.iloc[0])

In [ ]:
df.shape

In [ ]:
df.T

In [ ]:
def create_df(n,m):
  arr=np.random.randint(0,10,(n,m))
  df=pd.DataFrame(arr)
  df.index=['R'+ str(x) for x in np.arange(1,n+1)]
  df.columns=['C'+ str(x) for x in np.arange(1,m+1)]
  return df

In [ ]:
df= create_df(3,4)

In [ ]:
df

In [ ]:
diameter=pd.Series([8,7,6,5,4,3,2,1],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])
m1=pd.Series([1,2,3,4,5,6,7,8],
               index=['earth','mars','Jupiter','neptune','venus','saturn','mercury','uranus'])

In [ ]:
df=pd.DataFrame({'mass' : m1,'diameter': diameter})

In [ ]:
df

In [ ]:
df['mass']['earth']

In [ ]:
df['pop']=0

In [ ]:
df

In [ ]:
df['pop']['earth']='8bill'

In [ ]:
df

In [ ]:
#Here the answer is false because pop is an nbuilt function in pandas
df['pop'] is df.pop

In [ ]:
df['mass'] is df.mass

In [ ]:
def create_mean(df):
  df.add['mean')

In [ ]:
df.loc['avg']=[np.mean(m1),np.mean(diameter),'NAN']

In [ ]:
df

In [ ]:
df=df.drop(['mean','mass'])

In [ ]:
df

# New Section1

In [ ]:
capitals=("US":"Was,DC","Fr":"Pa","Italy":"");